
.array-container {
    position: inherit;
    left: 150px;
    margin: 15px;
    display: flex;
}


.array-bar {
    width: 10px;
    background-color:rgb(43, 40, 40);
    display: inline-block;
    margin: 2px;
    align-content: center;
  }

  .sorty {
      display: inline-flex;
  }

  .rc-slider-rail {
    position: absolute;
    width: 100%;
    background-color: #e9e9e9;
    height: 4px;
    border-radius: 6
px
;
}



  .press1 {
      padding: 15px;
      display: inline-block;
  }

  .btn
  {
      font-weight: 700;
  }
  .press {
    margin-left: 600px
;
}

